@import "tailwindcss";

@theme inline {
  --color-background: #000000;
  --color-foreground: #f8fafc;
  --color-muted: #1e293b;
  --color-muted-foreground: #94a3b8;
  
  --color-theme-navy: #020617;
  --color-theme-charcoal: #090e1a;
  --color-theme-gold: #cfae60;
  --color-theme-gold-light: #ecdbb0;
  
  --font-sans: var(--font-inter), "Helvetica Neue", Helvetica, ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-jost), "Futura", ui-sans-serif, system-ui, sans-serif;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
